<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.xiaoming.elasticsearch_springboot.dao.IBlogDao">

    <insert id="insert">
        insert into blog(author, title, content) values (#{author}, #{title}, #{content})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select @@identity
        </selectKey>
    </insert>

    <select id="select" resultMap="Blog">
        select id, author, title, content, created_at from blog where id = #{id}
    </select>

    <select id="selectByIdRange" resultMap="Blog">
        select id, author, title, content, created_at from blog where id = #{id} bewteen #{start} and #{end}
    </select>

    <!--select all, should do memory check in prod env-->
    <select id="selectAll" resultMap="Blog">
        select id, author, title, content, created_at from blog limit 100
    </select>

    <resultMap id="Blog" type="pers.xiaoming.elasticsearch_springboot.model.Blog">
        <!--<id column="id" property="id"/>-->
        <result column="author" property="author"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

</mapper>